{% extends 'base.html' %}
{% block title %}
About

{% endblock title %}

{% block hero %}

<h1>My bio Details & Resume</h1>
<p>I'm <span class="typed" data-typed-items="Developer, Freelancer"></span></p>



{% endblock hero %}
{% block body %}

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Vignesh S</h4>
            <p><em>Aspiring Developer</em></p>
            <ul>
              <li>6-180-4, UK-Gardens, Parvathipuram, Nagercoil-3</li>
              <li>(+91) 8925062513</li>
              <li>vigneshs9899@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>M.Sc Computer Science</h4>
            <h5>2020 - 2022</h5>
            <p><em>Scott Christian College Of Arts & Science, Nagercoil</em></p>
            
          </div>

          <div class="resume-item">
            <h4>B.Sc Computer Science</h4>
            <h5>2017 - 2020</h5>
            <p><em>Kongunadu College Of Arts & Science, Coimbatore</em></p>
            
          </div>

          <div class="resume-item">
            <h4>HSC</h4>
            <h5>2017</h5>
            <p><em>ST.Thomas Mat.Hr.Sec.School, Tuticorin</em></p>
            
          </div>

          <div class="resume-item">
            <h4>SSLC</h4>
            <h5>2015</h5>
            <p><em>ST.Thomas Mat.Hr.Sec.School, Tuticorin</em></p>
            
          </div>

         
          
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Projects</h3>
          <div class="resume-item">
            <h4>Crime Management System Database</h4>
            <h5>Python Tkinter- SQL</h5>
            
            <ul>
              <li>Create, Edit, Update and Delete Criminal Records in Database.</li>
             
            </ul>
          </div>

          <div class="resume-item">
            <h4>IT Academy Website</h4>
            <h5>HTML - CSS - Javascript</h5>
            
            <ul>
              <li>View Info's and Register for Desired IT courses by User.</li>
             
            </ul>
          </div>


          <div class="resume-item">
            <h4>Portfolio Website</h4>
            <h5>Python Django - Bootstrap - Sqlite3</h5>
            
            <ul>
              <li>Showcase Skills and Personal Blog Page.</li>
             
            </ul>
          </div>


          <div class="resume-item">
            <h4>Ecommerce Website</h4>
            <h5>Python Django - Bootstrap - Sqlite3</h5>
            
            <ul>
              <li>To Search and Order Products Desired by User.</li>
             
            </ul>
          </div>


          <div class="resume-item">
            <h4>A Cloud Computing Platform Based On P2P</h4>
            <h5>Java - SQL</h5>
            
            <ul>
              <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
             
            </ul>
          </div>
          
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->


{% endblock body %}











