{% extends 'base.html' %}
{% block title %}
Blog

{% endblock title %}
{% block hero %}

<h1>Welcome To Blog Page</h1>
<p>This Blog gives<span class="typed"
        data-typed-items="Technical Knowledge,Information"></span></p>


{% endblock hero %}

{% block body %}
<br>
<br>

<div class="row">

    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <form class="d-flex" role="search" action="/search" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>

    </div>

</div>
<br><br>
<div class="row">

    {% for d in data reversed %}

    <div class="col-md-4">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{d.image.url}}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{d.title}}</b></h5>
                        <p class="card-text">{{d.description}}</p>
                        <p class="card-text"><small class="text-body-secondary"><b>Last
                                    updated:</b>{{d.timeStamp}}</small></p>
                        <p class="card-text"><small class="text-body-secondary"><b>Uploaded
                                    By:</b>{{d.authorName}}</small></p>
                    </div>
                </div>
            </div>
        </div>


    </div>


    {% endfor %}
</div>

{% endblock body %}